.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: var(--backdrop);
}

.modal {
  max-width: 200px;
  background: white;
  width: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.modal__message {
  font-size: 1.5rem;
}

.modal__results {
  display: flex;
  column-gap: 30px;
}

.btns-container {
  display: grid;
  row-gap: 5px;
}

.no-scroll {
  overflow: hidden;
}
