.game-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding: 20px;
    position: sticky;
    /* bottom: 20px; */
    top: 20px;
    border: 1px solid;
    background: #c8d6b0;    
}